Adafruit-Blinka==8.47.0
adafruit-circuitpython-busdevice==5.2.9
adafruit-circuitpython-connectionmanager==3.1.1
adafruit-circuitpython-dht==4.0.4
adafruit-circuitpython-requests==4.1.6
adafruit-circuitpython-typing==1.11.0
Adafruit-PlatformDetect==3.74.0
Adafruit-PureIO==1.1.11
Beaker==1.13.0
beautifulsoup4==4.12.3
binho-host-adapter==0.1.6
blinker==1.8.2
click==8.1.7
colorzero==2.0
decorator==5.1.1
Flask==3.0.3
FormEncode==2.1.0
gpio==1.0.0
gpiozero==2.0.1
itsdangerous==2.2.0
Jinja2==3.1.4
Mako==1.3.5
MarkupSafe==2.1.5
nose==1.3.7
Paste==3.10.1
PasteDeploy==3.1.0
PasteScript==3.6.0
pyftdi==0.55.4
Pygments==2.18.0
Pylons==1.0.3
pyserial==3.5
pyusb==1.2.1
repoze.lru==0.7
Routes==2.5.1
rpi-ws281x==5.0.0
RPi.GPIO==0.7.1
simplejson==3.19.3
six==1.16.0
soupsieve==2.6
sysv-ipc==1.1.0
Tempita==0.5.2
typing_extensions==4.12.2
waitress==3.0.0
WebError==0.13.1
WebHelpers==1.3
WebOb==1.8.8
WebTest==3.0.1
Werkzeug==3.0.4
