<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Automation</title>
 </head>
<body>
	<h1>Home Automation</h1>
	<p>{{ message["temperature"]}}</p>
	<p>{{ message["humidity"]}}</p>
	<p>{{ message["rain"]}}</p>
	<p>{{ message["lightLED"]}}</p>
	<p>{{message["not_recording"]}}</p>
	<form action="/Light/on" method="get">
		<button type="submit">LED on</button>
	</form>
	<form action="/Light/off" method="get">
		<button type="submit">LED off</button>
	</form>
	<form action="/" method="get">
		<button type="submit">Refresh</button>
	</form>
	<form action="/Record" method="get">
		<button type="submit">Toggle Cloud Recording</button>
	</form>
	<h1>Security Camera</h1>
	<img src="{{ url_for('securityfeed') }}" width="640" height="480">
</body>
</html>
